/* button {
   background-color: transparent;
   cursor: pointer;
   border-color: transparent;
   font-family: inherit;
}   */

:root {
   --title-color: #2E2F42;
   --text-color: #434455;
   --footer-text-color: #E7E9FC;
   --background-color: #F4F4FD;
   --white-color: #ffffff;
   --accent-color: #4D5AE5;
}

body {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   color: var(--text-color);
   /* font-family: 'Raleway', sans-serif; */
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

.current {
   color: var(--accent-color);
}

.hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

.container {
   max-width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
}

/* _________Header________ */

